<div class="page-gutter-right ng-cloak">
    <h1>Edit Page
        <a class="admin-view-page"
           href="{{ page.frontEndURL + page.page.slug }}"
           target="_blank"
           ng-model="page.page.slug"
           create-slug="page.page.title">{{ page.frontEndURL + page.page.slug }}
        </a>
    </h1>

    <form name="updatePageForm" ng-submit="page.updatePage()" novalidate>
        <div>
            <label for="title">Page Title</label>
            <input type="text"
                   ng-model="page.page.title"
                   id="title"
                   name="title"
                   required />

            <div ng-show="updatePageForm.$submitted">
                <div class="error" ng-show="updatePageForm.title.$error.required">
                    {{ page.errors.title.invalid }}
                </div>

                <div class="error" ng-show="page.errorTitle">
                    {{ page.errors.title.unique }}
                </div>
            </div>
        </div>

        <div>
            <label for="slug">Slug</label>
            <input type="text"
                   ng-model="page.page.slug"
                   id="slug"
                   create-slug="page.page.title"
                   readonly="readonly" />
        </div>

        <div class="site-page-category">
            <label for="category">Category</label>
            <select ng-model="page.page.category"
                    id="category"
                    ng-options="category.title as category.title for category in page.categories">

                <option value="">Uncategorized</option>
            </select>
        </div>

        <div class="site-page-sidebar-left">
            <label for="sidebar-left">Left Sidebar</label>
            <select ng-model="page.page.sidebarLeft"
                    id="sidebar-left"
                    ng-options="sidebar.title as sidebar.title for sidebar in page.sidebars">

                <option value="" class="active">No Left Sidebar</option>
            </select>
        </div>

        <div class="site-page-sidebar-right">
            <label for="sidebar-right">Right Sidebar</label>
            <select ng-model="page.page.sidebarRight"
                    id="sidebar-right"
                    ng-options="sidebar.title as sidebar.title for sidebar in page.sidebars">

                <option value="" class="active">No Right Sidebar</option>
            </select>
        </div>

        <div>
            <label for="body">Content Body</label>
            <textarea ng-model="page.page.body"
                      name="html-editor"
                      class="html-editor"
                      id="body">
            </textarea>
        </div>

        <div class="button-group under-content">
            <button type="submit">
                <i class="material-icons content-icon">done</i>

                <span>Update</span>
            </button>
        </div>
    </form>
</div>
