<div ng-controller="AdminGetPagesController as pages">
    <h1 class="actions-list-header valign-wrapper">Pages

        <a ui-sref="newPage"
           class="btn-floating btn-small waves-effect waves-light blue tooltipped"
           data-position="top"
           data-delay="50"
           data-tooltip="Add new page">
            <i class="material-icons">add</i>
        </a>
    </h1>

    <div class="collection with-header">
        <div class="collection-header">
            <div class="row">
                <div class="col s12 m12 l2">
                    <h5>Page Title</h5>
                </div>

                <div class="col s12 m12 l2">
                    <h5>Category</h5>
                </div>

                <div class="col s12 m12 l2">
                    <h5>Author</h5>
                </div>

                <div class="col s12 m12 l2">
                    <h5>Last Modified</h5>
                </div>

                <div class="col s12 m12 l2">
                    <h5>View Page</h5>
                </div>
            </div>
        </div>

        <div ng-repeat="page in pages.pages" class="collection-item">
            <span class="badge">
                <i ng-click="pages.removePage(page)"
                   class="material-icons delete tooltipped"
                   data-position="top"
                   data-delay="50"
                   data-tooltip="Remove page">delete</i>

                <a class="tooltipped"
                   ng-href="/np-admin/pages/{{ page._id }}"
                   data-position="top"
                   data-delay="50"
                   data-tooltip="Edit page">
                    <i class="material-icons edit">edit</i>
                </a>
            </span>

            <div class="row">
                <div class="col s12 m12 l2">
                    <p class="page-title">
                        <a ng-href="/np-admin/pages/{{ page._id }}">
                            {{ page.title }}
                        </a>
                    </p>
                </div>

                <div class="col s12 m12 l2">
                    <p class="page-title">{{ page.category || "Uncategorized" }}</p>
                </div>

                <div class="col s12 m12 l2">
                    <p class="page-title">{{ page.createdBy }}</p>
                </div>

                <div class="col s12 m12 l2">
                    <p class="page-title">{{ page.modifiedDate || page.publishDate }}</p>
                </div>

                <div class="col s12 m12 l2">
                    <p class="page-title">
                        <a href="{{ pages.frontEndURL }}/{{ page.slug }}"
                           target="_blank">/{{ page.slug }}
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>