{% extends "templates/admin.server.default.template.html" %}

{% block primaryMenu %}
<div class="primary-menu" ng-if="np.auth.user">
    <div class="nav-wrapper">
        <a ui-sref="np.settings.general"
           class="settings-icon">

            <i class="material-icons">settings</i>
        </a>

        <a class="brand-logo"
           ui-sref="np.dashboard">NodePress
        </a>

        <div class="dropdown-account">
            <ul id="dropdown-account" class="dropdown-content">
                <li><a ng-href="/np-admin/users/{% raw %}{{ np.auth.user.username }}{% endraw %}">Profile</a></li>
                <li><a ui-sref="np.settings.general">Settings</a></li>
                <li><a href="/auth/logout">Logout</a></li>
            </ul>

            <ul class="right">
                <li>
                    <a class="dropdown-button">
                        Howdy, <span ng-bind="np.auth.user.username"></span>

                        <i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block secondaryMenu %}
<div ui-view="secondaryMenu"></div>
{% endblock %}

{% block content %}
<div class="content">
    <div class="view-fade-in" ui-view="content"></div>
</div>
{% endblock %}
