<div>
    <h1 class="actions-list-header valign-wrapper">
        <button ui-sref="np.newSidebar">
            <i class="material-icons header-icon">add</i>
        </button>

        Sidebars
    </h1>

    <div class="collection with-header">
        <div class="collection-header">
            <div class="row">
                <div class="col s12 m12 l2">
                    <h5>Sidebar Title</h5>
                </div>

                <div class="col s12 m12 l2">
                    <h5>Author</h5>
                </div>

                <div class="col s12 m12 l2">
                    <h5>Publish Date</h5>
                </div>

                <div class="col s12 m12 l2">
                    <h5>Last Modified</h5>
                </div>
            </div>
        </div>

        <div ng-if="!sidebars.sidebars.length"
             class="collection-item">

            <p>No Sidebars.
                <a ui-sref="np.newSidebar">Create new sidebar</a>?</p>
        </div>

        <div ng-repeat="sidebar in sidebars.sidebars" class="collection-item">
            <span class="badge">
                <i ng-click="sidebars.setSelectedSidebar(sidebar)"
                   class="material-icons delete tooltipped modal-trigger"
                   data-position="top"
                   data-delay="50"
                   data-tooltip="Remove sidebar"
                   data-target="modal-delete"
                   popup-trigger>delete</i>

                <a class="tooltipped"
                   ng-href="/np-admin/sidebars/{{ sidebar._id }}"
                   data-position="top"
                   data-delay="50"
                   data-tooltip="Edit sidebar">
                    <i class="material-icons edit">edit</i>
                </a>
            </span>

            <div class="row">
                <div class="col s12 m12 l2">
                    <p class="page-title">
                        <a ng-href="/np-admin/sidebars/{{ sidebar._id }}">
                            {{ sidebar.title }}
                        </a>
                    </p>
                </div>

                <div class="col s12 m12 l2">
                    <p class="page-title">{{ sidebar.createdBy }}</p>
                </div>

                <div class="col s12 m12 l2">
                    <p class="page-title">{{ sidebar.publishDate }}</p>
                </div>

                <div class="col s12 m12 l2">
                    <p class="page-title">{{ sidebar.modifiedDate || page.publishDate }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-delete">
        <div class="modal-content">
            <h5 class="modal-title">Are you sure you want to remove the sidebar?</h5>

            <div class="button-group under-content">
                <div class="left">
                    <button ng-click="sidebars.removeSidebar()"
                            class="modal-close">

                        <i class="material-icons content-icon">delete</i>

                        <span>Delete</span>
                    </button>
                </div>

                <div class="right">
                    <button class="modal-close">
                        <i class="material-icons content-icon negative">clear</i>

                        <span>Cancel</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>