<div class="page-gutter-right ng-cloak"
     ng-controller="AdminNewSidebarController as sidebar">

    <h1>New Sidebar</h1>

    <form name="newSidebarForm" ng-submit="sidebar.newSidebar()" novalidate>

        <div>
            <label for="title">Sidebar Title</label>
            <input type="text"
                   ng-model="sidebar.sidebar.title"
                   id="title"
                   name="title"
                   required />

            <div ng-show="newSidebarForm.$submitted">
                <div class="error" ng-show="newSidebarForm.title.$error.required">
                    {{ sidebar.errors.title.invalid }}
                </div>

                <div class="error" ng-show="sidebar.errorTitle">
                    {{ sidebar.errors.title.unique }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m12 l6">
                <h5>Available Sidebar Items</h5>

                <ul class="collapsible sidebar-items sidebar-items-container"
                    data-collapsible="accordion">
                    <li ng-repeat="sidebarItem in sidebar.avaliableSidebarItems">
                        <i class="material-icons add-item"
                           ng-click="sidebar.addSidebarItem($index)">add</i>

                        <div class="collapsible-header">
                            <i class="material-icons">{{ sidebarItem.icon }}</i>
                            {{ sidebarItem.title }}
                        </div>

                        <div class="collapsible-body">
                            <p>{{ sidebarItem.description }}</p>
                        </div>
                    </li>
                </ul>

                <span class="btn waves-effect blue"
                      ng-click="sidebar.checkSidebarModelOutside()">Publish
                </span>
            </div>

            <div class="col s12 m12 l6">
                <h5>Added Sidebar Items</h5>

                <ul class="collapsible sidebar-items-container-added sortable"
                    ng-if="sidebar.sidebar.length"
                    data-collapsible="accordion"
                    ng-model="sidebar.sidebar"
                    ui-sortable>

                    <li ng-repeat="sidebarItem in sidebar.sidebar track by sidebarItem.id"
                        class="{{ sidebarItem.directiveSlug }}"
                        sidebar-item-id="{{ sidebarItem.id }}">

                         <div class="collapsible-header">
                              <i class="material-icons">{{ sidebarItem.code }}</i>
                             {{ sidebarItem.title }}
                         </div>

                         <div class="collapsible-body">
                             <label>Title</label>
                             <input ng-model="sidebarItem.model.title"
                                    type="text" />

                             <label>Content Body</label>

                             <sidebar-item ng-model="sidebarItem.model.body"
                                           model="sidebarItem.model.body"
                                           slug="{{ sidebarItem.directiveSlug }}"
                                           obj="{{ sidebarItem }}"
                                           index="{{ sidebarItem.id }}">
                             </sidebar-item >
                         </div>
                    </li>
                    <script>
                        $(document).ready(function(){
                            $('.sidebar-items').collapsible();
                            $('.sidebar-items-container-added').collapsible();
                        });
                    </script>
                </ul>

                <p ng-if="!sidebar.sidebar.length">
                    No sidebar items added. Add some from the left column.
                </p>
            </div>
        </div>
    </form>
</div>