<div class="page-gutter-right ng-cloak">
    <h1>New Sidebar</h1>

    <form name="newSidebarForm" ng-submit="sidebar.newSidebar()" novalidate>
        <div>
            <label for="title">Sidebar Title</label>

            <input type="text"
                   ng-model="sidebar.sidebar.title"
                   id="title"
                   name="title"
                   required />

            <div ng-show="newSidebarForm.$submitted">
                <div class="error" ng-show="newSidebarForm.title.$error.required">
                    {{ sidebar.errors.title.invalid }}
                </div>

                <div class="error" ng-show="sidebar.errorTitle">
                    {{ sidebar.errors.title.unique }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m12 l6">
                <h5 class="admin-sidebar-items-title">

                    Available Sidebar Items

                    <a class="tooltipped info"
                       data-position="top"
                       data-delay="50"
                       data-tooltip="Expand sidebar item for its description">

                        <i class="material-icons">info</i>
                    </a>
                </h5>

                <ul class="collapsible sidebar-items sidebar-items-container"
                    data-collapsible="accordion">

                    <li ng-repeat="sidebarItem in sidebar.avaliableSidebarItems"
                        ng-class="{ 'last': $last }">

                        <i class="material-icons add-item"
                           ng-click="sidebar.addSidebarItem($index)">add
                        </i>

                        <div class="collapsible-header">
                            <i class="material-icons">{{ sidebarItem.icon }}</i>
                            {{ sidebarItem.title }}
                        </div>

                        <div class="collapsible-body">
                            <p>{{ sidebarItem.description }}</p>
                        </div>
                    </li>
                </ul>

                <div class="button-group under-content">
                    <button type="submit">
                        <i class="material-icons content-icon">done</i>

                        <span>Publish</span>
                    </button>
                </div>
            </div>

            <div class="col s12 m12 l6">
                <h5 class="admin-sidebar-items-title">Added Sidebar Items

                    <a class="tooltipped info"
                       data-position="top"
                       data-delay="50"
                       data-tooltip="Expand sidebar item to change its properties">

                        <i class="material-icons">info</i>
                    </a>
                </h5>

                <ul class="collapsible sidebar-items-container-added sortable"
                    ng-if="sidebar.sidebarItems.length"
                    data-collapsible="accordion"
                    ng-model="sidebar.sidebarItems"
                    ui-sortable="sidebar.sortableOptions">

                    <li ng-repeat="sidebarItem in sidebar.sidebarItems track by sidebarItem.id"
                        ng-class="{ 'last': $last }"
                        sidebar-item-id="{{ sidebarItem.id }}">

                        <i class="material-icons delete remove-item"
                           ng-click="sidebar.removeSidebarItem(sidebarItem)">delete
                        </i>

                         <div class="collapsible-header">
                              <i class="material-icons sort-handle">sort</i>
                             {{ sidebarItem.title }}
                         </div>

                         <div class="collapsible-body">
                             <label>Title</label>
                             <input ng-model="sidebarItem.model.title"
                                    type="text" />

                             <label>Content Body</label>

                             <sidebar-item
                                     model="sidebarItem.model.body"
                                     slug="{{ sidebarItem.directiveSlug }}"
                                     item="sidebarItem"
                                     data="sidebar.data"
                                     index="{{ sidebarItem.id }}">
                             </sidebar-item>
                         </div>
                    </li>
                </ul>

                <p ng-if="!sidebar.sidebarItems.length">
                    No sidebar items added. Add some from the left column.
                </p>
            </div>
        </div>
    </form>
</div>