<div class="dashboard">
    <h1 class="actions-list-header valign-wrapper">Dashboard</h1>

    <div class="row">
        <div class="col s12 m12 l3" ng-repeat="dashboardItem in dashboard.dashboardItems">
            <div class="collection with-header" ng-init="limit = 5">
                <div class="collection-header"
                     ng-class="{ 'no-border-bottom': !dashboardItem.items.length }">

                    <h5>{{ dashboardItem.title }}

                        <span class="dashboard-actions">
                            <a ng-repeat="link in dashboardItem.headerLinks"
                               ui-sref="{{ link.state }}"
                               class="tooltipped"
                               data-position="top"
                               data-delay="50"
                               data-tooltip="{{ link.message }}">

                                <i class="material-icons">{{ link.icon }}</i>
                            </a>
                        </span>
                    </h5>
                </div>

                <div ng-repeat="item in dashboardItem.items | limitTo: limit as results"
                     class="collection-item">

                    <p class="page-title">
                        <a ng-href="/np-admin/{{ dashboardItem.slug }}/{{ item._id }}">
                            {{ item.title }}
                        </a>

                        <a ng-if="dashboardItem.itemLinks.length"
                           ng-repeat="itemLink in dashboardItem.itemLinks"
                           href="{{ dashboard.frontEndURL + item.slug }}"
                           class="dashboard-pages-frontend-link"
                           target="_blank">

                            <i class="material-icons">{{ itemLink.icon }}</i>
                        </a>
                    </p>
                </div>
            </div>

            <a class="dashboard-extra-link"
               ng-hide="results.length === dashboardItem.items.length"
               ng-click="limit = limit + 5">Show more
            </a>

            <a class="dashboard-extra-link"
               ng-hide="results.length <= 5 && results.length !== dashboardItem.items.length || results.length <= 5 && results.length === dashboardItem.items.length"
               ng-click="limit = limit - 5">Show less
            </a>

            <a ng-if="dashboardItem.extraLinks.length"
               ng-repeat="link in dashboardItem.extraLinks"
               class="dashboard-extra-link"
               ui-sref="{{ link.state }}">

                {{ link.title }}
            </a>

            <div ng-if="!dashboardItem.items.length">
                <p>{{ dashboardItem.emptyMessage }}</p>

                <a ui-sref="{{ dashboardItem.headerLinks[1].state }}"
                   class="waves-effect waves-light btn blue">{{ dashboardItem.headerLinks[1].message }}</a>
            </div>
        </div>
    </div>
</div>
