<div>
    <h1 class="actions-list-header valign-wrapper">Users</h1>

    <div class="collection with-header">
        <div class="collection-header">
            <div class="row">
                <div class="col s12 m12 l2">
                    <h5>Username</h5>
                </div>
                <div class="col s12 m12 l2">
                    <h5>Role</h5>
                </div>
                <div class="col s12 m12 l2">
                    <h5>E-mail</h5>
                </div>
                <div class="col s12 m12 l2">
                    <h5>Last Modified</h5>
                </div>
            </div>
        </div>

        <div ng-repeat="user in users.users" class="collection-item">
            <span class="badge">
                <i ng-click="users.setSelectedUser(user)"
                   class="material-icons delete tooltipped modal-trigger"
                   data-position="top"
                   data-delay="50"
                   data-tooltip="Remove user"
                   data-target="modal-delete"
                   popup-trigger>delete
                </i>

                <a ng-href="/np-admin/users/{{ user.username }}"
                   class="tooltipped"
                   data-position="top"
                   data-delay="50"
                   data-tooltip="Edit user">
                    <i class="material-icons edit">edit</i>
                </a>
            </span>

            <div class="row">
                <div class="col s12 m12 l2">
                    <p class="page-title">
                        <a ng-href="/np-admin/users/{{ user.username }}">
                            {{ user.username }}
                        </a>
                    </p>
                </div>
                <div class="col s12 m12 l2">
                    <p class="page-title">{{ user.role }}</p>
                </div>
                <div class="col s12 m12 l2">
                    <p class="page-title">{{ user.email }}</p>
                </div>
                <div class="col s12 m12 l2">
                    <p class="page-title">{{ user.modifiedDate }}</p>
                </div>
            </div>
        </div>
    </div>

    <a ui-sref="np.newUser"
       class="add-new under-list">

        <i class="material-icons">add</i>

        <span>New user</span>
    </a>

    <div class="modal fade" id="modal-delete">
        <div class="modal-content">
            <h5 class="modal-title">Are you sure you want to remove the user?

                <span class="dashboard-actions">
                    <a class="btn-floating btn-small waves-effect waves-dark pink modal-close">
                        <i class="material-icons">close</i>
                    </a>
                </span>
            </h5>

            <a ng-click="users.removeUser()"
               class="waves-effect waves-light btn blue modal-close">Remove User
            </a>

            <a class="waves-effect waves-light btn blue modal-close">Cancel
            </a>
        </div>
    </div>
</div>