<div class="page-gutter-right" ng-controller="AdminNewUserController as user">

    <h1>New User</h1>

    <form name="userForm" ng-submit="user.newUser()" novalidate>
        <div class="row">
            <div class="col s6">
                <label for="firstName">First Name</label>
                <input type="text"
                       ng-model="user.user.firstName"
                       id="firstName"
                       name="firstName"
                       required />

                <div ng-show="userForm.$submitted">
                    <div class="error" ng-show="userForm.firstName.$error.required">
                        {{ user.errors.firstName.invalid }}
                    </div>
                </div>
            </div>

            <div class="col s6">
                <label for="lastName">Last Name</label>
                <input type="text"
                       ng-model="user.user.lastName"
                       id="lastName"
                       name="lastName"
                       required />

                <div ng-show="userForm.$submitted">
                    <div class="error"
                         ng-show="userForm.lastName.$error.required">
                        {{ user.errors.lastName.invalid }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <label for="username">Choose your username</label>
                <input type="text"
                       ng-model="user.user.username"
                       id="username"
                       name="username"
                       required />

                <div ng-show="userForm.$submitted">
                    <div class="error"
                         ng-show="userForm.username.$error.required">
                        {{ user.errors.username.invalid }}
                    </div>

                    <div class="error" ng-show="user.errorUsername">
                        {{ user.errors.username.unique }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <label for="email">Email address</label>
                <input type="text"
                       ng-model="user.user.email"
                       id="email"
                       name="email"
                       required />

                <div ng-show="userForm.$submitted">
                    <div class="error" ng-show="userForm.email.$error.required">
                        {{ user.errors.email.invalid }}
                    </div>

                    <div class="error" ng-show="user.errorEmail">
                        {{ user.errors.email.unique }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <label for="role">Role</label>
                <select ng-model="user.user.role"
                        ng-options="userRole.role as userRole.role for userRole in user.roles"
                        id="role">
                    <option value="" disabled active>Select a Role</option>
                </select>

                <!--<select ng-model="user.user.role" id="role">
                    <option value="Administration">Administration</option>
                    <option value="Editor">Editor</option>
                </select>-->

                <div ng-show="userForm.$submitted">
                    <div class="error"
                         ng-show="userForm.role.$error.required">
                        {{ user.errors.role.invalid }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <label for="password">Create a password</label>
                <input type="password"
                       ng-model="user.user.password"
                       id="password"
                       name="password"
                       required />

                <div ng-show="userForm.$submitted">
                    <div class="error"
                         ng-show="userForm.password.$error.required">
                        {{ user.errors.password.invalid }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <label for="cpassword">Confirm your password</label>
                <input type="password"
                       ng-model="user.user.cpassword"
                       id="cpassword"
                       name="cpassword"
                       confirm-password="user.user.password"
                       required />

                <div ng-show="userForm.$submitted">
                    <div class="error" ng-show="userForm.cpassword.$error.required">
                        {{ user.errors.cpassword.invalid }}
                    </div>
                </div>

                <div class="error" ng-show="userForm.cpassword.$error.passwordsMatch">
                    {{ user.errors.cpassword.unique }}
                </div>
            </div>
        </div>

        <div class="input-field">
            <button type="submit"
                    class="waves-effect waves-light btn blue">Create User
            </button>
        </div>
    </form>
</div>