<div class="page-gutter-right ng-cloak"
     ng-controller="AdminUpdateUserController as user"
     ng-init="user.getUser()">

    <h1>Edit User Information</h1>

    <form name="userForm" ng-submit="user.updateUser()" novalidate>
        <div class="row">
            <div class="col s6">
                <label for="firstName">First Name</label>
                <input type="text"
                       ng-model="user.user.firstName"
                       id="firstName"
                       name="firstName"
                       required />

                <div ng-show="userForm.$submitted">
                    <div class="error"
                         ng-show="userForm.firstName.$error.required">
                        {{ user.errorMessages.firstName.invalid }}
                    </div>
                </div>
            </div>

            <div class="col s6">
                <label for="lastName">Last Name</label>
                <input type="text"
                       ng-model="user.user.lastName"
                       id="lastName"
                       name="lastName"
                       required />

                <div ng-show="userForm.$submitted">
                    <div class="error"
                         ng-show="userForm.lastName.$error.required">
                        {{ user.errorMessages.lastName.invalid }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <label class="active" for="username">Usernames cannot be changed</label>
                <input type="text"
                       ng-model="user.user.username"
                       id="username"
                       name="username"
                       readonly="readonly"
                       required />
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <label class="active" for="email">Email address</label>
                <input type="text"
                       ng-model="user.user.email"
                       id="email"
                       name="email"
                       required />

                <div ng-show="userForm.$submitted">
                    <div class="error"
                         ng-show="userForm.email.$error.required">
                        {{ user.errorMessages.email.invalid }}
                    </div>

                    <div class="error" ng-show="user.errorEmail">
                        {{ user.errorMessages.email.unique }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-if="user.user.username !== auth.username">
            <div class="col s12">
                <select ng-model="user.user.role">
                    <option value="">Select a Role</option>
                    <option value="Administration">Administration</option>
                    <option value="Editor">Editor</option>
                </select>

                <div ng-show="userForm.$submitted">
                    <div class="error"
                         ng-show="userForm.role.$error.required">
                        {{ user.errorMessages.role.invalid }}
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="form-group change-password">
            <p><a data-toggle="modal" data-target="#myModal">Change Password</a></p>
        </div>-->

        <div class="input-field">
            <button type="submit"
                    class="waves-effect waves-light btn blue">
                    Update user account
            </button>
            <a ui-sref="users"
               class="waves-effect waves-light btn grey lighten-3">Back to all users</a>
        </div>
    </form>

    <!--<div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Change your password</h4>
                </div>
                <div class="modal-body">
                    <form ng-show="!user.success" role="form" name="updateUserPasswordForm"
                           ng-submit="user.updateUserPassword()" novalidate>
                        <div class="form-group">
                            <label for="password">New password</label>
                            <input type="password"
                                   ng-model="user.user.password"
                                   class="form-control"
                                   id="password"
                                   name="password"
                                   required />

                            <div ng-show="updateUserPasswordForm.$submitted">
                                <div class="error"
                                     ng-show="updateUserPasswordForm.password.$error.required">
                                    {{ user.errorMessages.password.invalid }}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="cpassword">Confirm your password</label>
                            <input type="password"
                                   ng-model="user.user.cpassword"
                                   class="form-control"
                                   id="cpassword"
                                   name="cpassword"
                                   confirm-password="user.user.password"
                                   required />

                            <div ng-show="updateUserPasswordForm.$submitted">
                                <div class="error"
                                     ng-show="updateUserPasswordForm.cpassword.$error.required">
                                    {{ user.errorMessages.cpassword.invalid }}
                                </div>
                            </div>

                            <div
                                class="error"
                                ng-show="updateUserPasswordForm.cpassword.$error.passwordsMatch">
                                {{ user.errorMessages.cpassword.unique }}
                            </div>
                        </div>

                        <div class="form-group">
                            <button
                                type="submit"
                                class="btn btn-default"
                                ng-disabled="updateUserPasswordForm.$invalid">
                                    Update password
                            </button>
                        </div>
                    </form>

                    <div class="alert alert-success" ng-show="user.success">
                        <p>Password updated successfully!</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-default"
                        ng-click="user.closeModal()">
                            Close
                    </button>
                </div>
            </div>

        </div>
    </div>-->

</div>