<div class="page-gutter-right" ng-controller="AdminUserLoginController as user">

    <h1>NodePress Login</h1>

    <form name="loginForm" ng-submit="user.login()" novalidate>
        <div>
            <label for="username">Username</label>
            <input type="text"
                   ng-model="user.user.username"
                   name="username"
                   id="username"
                   required />

            <div ng-show="loginForm.$submitted">
                <div class="error"
                     ng-show="loginForm.username.$error.required">Please enter your username
                </div>
            </div>

            <div class="error"
                 ng-show="user.error && user.user.username && user.errorField === 'username'">
                {{ user.error }}
            </div>
        </div>

        <div>
            <label for="password">Password</label>
            <input type="password"
                   ng-model="user.user.password"
                   name="password"
                   id="password"
                   required />

            <div ng-show="loginForm.$submitted">
                <div class="error"
                     ng-show="loginForm.password.$error.required">Please enter your password
                </div>
            </div>

            <div class="error"
                 ng-show="user.error && user.user.password && user.errorField === 'password'">
                {{ user.error }}
            </div>
        </div>

        <div class="input-field">
            <button type="submit"
                    class="waves-effect waves-light btn blue">Login
            </button>
        </div>

    </form>

</div>