<div>
    <h1 class="actions-list-header valign-wrapper">Categories</h1>

    <div class="collection with-header">
        <div class="collection-header">
            <div class="row">
                <div class="col s12 m12 l3">
                    <h5>Category Title</h5>
                </div>

                <div class="col s12 m12 l3">
                    <h5>Author</h5>
                </div>

                <div class="col s12 m12 l3">
                    <h5>Description</h5>
                </div>

                <div class="col s12 m12 l3">
                    <h5>Last Modified</h5>
                </div>
            </div>
        </div>

        <div ng-if="!categories.categories.length"
             class="collection-item">

            <p>No Categories.
                <a ui-sref="np.newCategory">Create new category</a>?</p>
        </div>

        <div ng-repeat="category in categories.categories" class="collection-item">
            <span class="badge">
                <i ng-click="categories.setSelectedCategory(category)"
                   class="material-icons delete tooltipped modal-trigger"
                   data-position="top"
                   data-delay="50"
                   data-tooltip="Remove category"
                   data-target="modal-delete"
                   popup-trigger>delete</i>

                <a ng-href="/np-admin/categories/{{ category._id }}"
                   class="tooltipped"
                   data-position="top"
                   data-delay="50"
                   data-tooltip="Edit category">
                    <i class="material-icons edit">edit</i>
                </a>
            </span>

            <div class="row">
                <div class="col s12 m12 l3">
                    <p class="page-title">
                        <a ng-href="/np-admin/categories/{{ category._id }}">
                            {{ category.title }}
                        </a>
                    </p>
                </div>

                <div class="col s12 m12 l3">
                    <p class="page-title">{{ category.createdBy }}</p>
                </div>

                <div class="col s12 m12 l3">
                    <p class="page-title">{{ category.description || 'No description' }}</p>
                </div>

                <div class="col s12 m12 l3">
                    <p class="page-title">{{ category.modifiedDate || category.publishDate }}</p>
                </div>
            </div>
        </div>
    </div>

    <a ui-sref="np.newCategory"
       class="add-new under-list">

        <i class="material-icons">add</i>

        <span>New category</span>
    </a>

    <div class="modal fade" id="modal-delete">
        <div class="modal-content">
            <h5 class="modal-title">Are you sure you want to remove the category?

                <span class="dashboard-actions">
                    <a class="btn-floating btn-small waves-effect waves-dark pink modal-close">
                        <i class="material-icons">close</i>
                    </a>
                </span>
            </h5>

            <a ng-click="categories.removeCategory()"
               class="waves-effect waves-light btn blue modal-close">Remove Category
            </a>

            <a class="waves-effect waves-light btn blue modal-close">Cancel
            </a>
        </div>
    </div>
</div>
