<div class="half" ng-controller="AdminNewCategoryController as category">

    <h1>New Category</h1>

    <form name="newCategoryForm" role="form" ng-submit="category.newCategory()" novalidate>

        <div class="form-group">
            <label for="title">Category Title</label>
            <input
                type="text"
                ng-model="category.category.title"
                class="form-control"
                id="title"
                name="title"
                required />

            <div ng-show="newCategoryForm.$submitted">
                <div class="error" ng-show="newCategoryForm.title.$error.required">
                    {{ category.errorMessages.title.invalid }}
                </div>

                <div class="error" ng-show="category.errorTitle">
                    {{ category.errorMessages.title.unique }}
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="slug">Slug</label>
            <input
                type="text"
                ng-model="category.category.slug"
                class="form-control"
                id="slug"
                create-slug="category.category.title"
                readonly="readonly" />
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <textarea
                ng-model="category.category.description"
                class="form-control"
                id="description">
            </textarea>
        </div>

        <div class="form-group">
            <button
                type="submit"
                class="btn btn-default"
                ng-disabled="newCategoryForm.$invalid">
                    Create Category
            </button>
            <a ui-sref="categories" class="btn btn-default">Cancel</a>
        </div>

    </form>

</div>
