<div class="page-gutter-right" ng-controller="AdminNewCategoryController as category">

    <h1>New Category</h1>

    <div class="row">
        <form class="col s12"
              name="newCategoryForm"
              ng-submit="category.newCategory()"
              novalidate>

            <div class="row">
                <div class="input-field col s12">
                    <label for="title">Category Title</label>
                    <input
                        type="text"
                        ng-model="category.category.title"
                        id="title"
                        name="title"
                        required />

                    <div ng-show="newCategoryForm.$submitted">
                        <div class="error" ng-show="newCategoryForm.title.$error.required">
                            {{ category.errorMessages.title.invalid }}
                        </div>

                        <div class="error" ng-show="category.errorTitle">
                            {{ category.errorMessages.title.unique }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <label class="active" for="slug">Slug</label>
                    <input
                        type="text"
                        ng-model="category.category.slug"
                        id="slug"
                        create-slug="category.category.title"
                        readonly="readonly" />
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <label for="description">Description</label>
                    <textarea
                        class="materialize-textarea"
                        ng-model="category.category.description"
                        id="description">
                    </textarea>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <button type="submit"
                            class="waves-effect waves-light btn blue"
                            ng-disabled="newCategoryForm.$invalid">
                            Create Category
                    </button>
                    <a ui-sref="categories"
                       class="waves-effect waves-light btn pink">Cancel</a>
                </div>
            </div>

        </form>
    </div>

</div>
