<div class="page-gutter-right ng-cloak">
    <h1>NodePress Settings</h1>

    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3"
                    ng-repeat="tab in np.tabs">

                    <a ui-sref="{{ tab.state }}"
                       ng-bind="tab.title"
                       ng-class="{ 'active': tab.slug === np.currentTab }">
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="view-fade-in" ui-view></div>
</div>