<div>
    <h5>Available Plugins</h5>

    <div class="collection with-header">
        <div class="collection-item"
             ng-repeat="plugin in settings.pluginsConfig">

            <div class="row">
                <div class="col s12 m12 l6">
                    <span>{{ plugin.title }}</span>
                </div>

                <div class="col s12 m12 l6">
                    <span class="right">Activate</span>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m12 l6">
                    <span class="collection-item-description">{{ plugin.description }}</span>
                </div>

                <div class="col s12 m12 l6"></div>
            </div>
        </div>
    </div>
</div>