<div>
    <div class="row">
        <div class="col s12 m12 l6" ng-repeat="theme in settings.themes">
            <div class="card">
                <div class="card-image">
                    <img class="materialboxed" src="{{ theme.preview }}">
                    <span class="card-title">{{ theme.title }}</span>
                </div>

                <div class="card-action">
                    <span class="theme-activate"
                          ng-if="settings.settings.theme !== theme.title"
                          ng-click="settings.updateAppSettings(theme.title)">

                        <span>Activate</span>
                    </span>

                    <span class="theme-active valign-wrapper right-align"
                          ng-if="settings.settings.theme === theme.title">

                        <i class="material-icons content-icon">done</i>

                        <span>Activated</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>