<div>
    <form name="appSettingsForm" ng-submit="settings.updateAppSettings()" novalidate>
        <div class="site-home-page">
            <label for="home">Home Page</label>
            <select ng-model="settings.settings.siteHomePage"
                    id="home"
                    name="home"
                    ng-options="page.slug as page.title for page in settings.pages">
                <option value="" disabled>Select the Front End Home Page</option>
            </select>
        </div>

        <div>
            <button type="submit"
                    class="waves-effect waves-light btn blue">Update
            </button>
        </div>
    </form>
</div>
