<div ng-controller="AdminGetMenusController as menus"
     ng-init="menus.getMenus()">

    <h1 class="actions-list-header valign-wrapper">Menus

        <a ui-sref="newMenu"
           class="btn-floating btn-small waves-effect waves-light blue tooltipped"
           data-position="top"
           data-delay="50"
           data-tooltip="Add new menu">
            <i class="material-icons">add</i>
        </a>
    </h1>

    <div class="collection with-header">
        <div class="collection-header">
            <div class="row">
                <div class="col s12 m12 l2">
                    <h5>Menu Title</h5>
                </div>

                <div class="col s12 m12 l2">
                    <h5>Author</h5>
                </div>

                <div class="col s12 m12 l2">
                    <h5>Last Modified</h5>
                </div>
            </div>
        </div>

        <div ng-if="!menus.menus.length"
             class="collection-item">

            <p>No Menus.
                <a ui-sref="newMenu">Create new menu</a>?</p>
        </div>

        <div ng-repeat="menu in menus.menus" class="collection-item">
            <span class="badge">
                <i ng-click="menus.removeMenu(menu)"
                   class="material-icons delete tooltipped"
                   data-position="top"
                   data-delay="50"
                   data-tooltip="Remove menu">delete</i>

                <a ng-href="/np-admin/menus/{{ menu._id }}"
                   class="tooltipped"
                   data-position="top"
                   data-delay="50"
                   data-tooltip="Edit menu">
                    <i class="material-icons edit">edit</i>
                </a>
            </span>

            <div class="row">
                <div class="col s12 m12 l2">
                    <p class="page-title">
                        <a ng-href="/np-admin/menus/{{ menu._id }}">
                            {{ menu.title }}
                        </a>
                    </p>
                </div>

                <div class="col s12 m12 l2">
                    <p class="page-title">{{ menu.createdBy }}</p>
                </div>

                <div class="col s12 m12 l2">
                    <p class="page-title">{{ menu.modifiedDate }}</p>
                </div>
            </div>
        </div>
    </div>
</div>