<div class="page-gutter-right ng-cloak"
     ng-controller="AdminUpdateMenuController as menu"
     ng-init="menu.getMenu()">

    <h1>Edit Menu</h1>

    <form name="updateMenuForm" ng-submit="menu.updateMenu()" novalidate>

        <div>
            <label for="title">Menu Title</label>
            <input type="text"
                   ng-model="menu.menu.title"
                   id="title"
                   name="title"
                   required />

            <div ng-show="updateMenuForm.$submitted">
                <div class="error" ng-show="updateMenuForm.title.$error.required">
                    {{ menu.errors.title.invalid }}
                </div>

                <div class="error" ng-show="menu.errorTitle">
                    {{ menu.errors.title.unique }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m12 l6">
                <div class="collection with-header buttons-below"
                     ng-init="limit = 5">

                    <div class="collection-header">
                        <h5>Pages

                        <span class="dashboard-actions">
                                <a class="btn-floating btn-small waves-effect waves-dark blue tooltipped"
                                   ng-click="menu.addMenuItems()"
                                   data-position="bottom"
                                   data-delay="50"
                                   data-tooltip="Add menu items">
                                    <i class="material-icons">add</i>
                                </a>
                            </span>
                        </h5>
                    </div>

                    <div class="collection-item"
                         ng-repeat="page in menu.pages | limitTo: limit as results">

                        <input ng-click="menu.addMenuItemToProxy(page, page.menuItemId)"
                               type="checkbox"
                               id="menu-item-before-{{ page.title }}"
                               ng-value="page.title"
                               ng-model="page.Selected" />
                        <label for="menu-item-before-{{ page.title }}">
                            {{ page.title }}
                        </label>
                    </div>

                    <a class="dashboard-extra-link"
                       ng-hide="results.length === menu.pages.length"
                       ng-click="limit = limit + 5">show more
                    </a>
                    <a class="dashboard-extra-link"
                       ng-hide="results.length <= 5 && results.length !== menu.pages.length || results.length <= 5 && results.length === menu.pages.length"
                       ng-click="limit = limit - 5">show less
                    </a>

                </div>

                <button type="submit"
                        class="waves-effect waves-light btn blue">Update
                </button>
            </div>

            <div class="col s12 m12 l6">
                <div class="collection with-header buttons-below">
                    <div class="collection-header">
                        <h5>Menu Items</h5>
                    </div>

                    <div ui-sortable
                         class="sortable"
                         ng-model="menu.menuItems">

                        <div class="collection-item valign-wrapper ui-state-default"
                             ng-repeat="menuItem in menu.menuItems">

                            <span class="badge"
                                  ng-click="menu.removeMenuItem(menuItem)">
                                <i class="material-icons delete">delete</i>
                            </span>

                            <i class="material-icons">sort</i>

                            <span class="menu-item-title">{{ menuItem.title }}</span>
                        </div>
                    </div>

                    <div class="collection-item"
                         ng-if="!menu.menuItems.length">
                        No menu items. Add some from the left column.
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>