<div
    class="half ng-cloak"
    ng-controller="AdminManageMenuLocationsController as menus">

    <div
    alert-panel
    class="alert alert-success success">
        Menu updated successfully
    </div>

    <h1>Manage Menu Locations</h1>

    <form
        role="form"
        name="updateMenuLocationsForm"
        ng-submit="menus.updateMenuLocations()"
        novalidate>

        <div class="form-group">
            <label for="primary">Primary Menu</label>
            <select
                ng-model="menus.menuLocations.primary"
                class="form-control"
                id="primary"
                ng-options="menu.title as menu.title for menu in menus.menus">
                    <option value="">No Menu</option>
            </select>
        </div>

        <div class="form-group">
            <label for="secondary">Secondary Menu</label>
            <select
                ng-model="menus.menuLocations.secondary"
                class="form-control"
                id="secondary"
                ng-options="menu.title as menu.title for menu in menus.menus">
                    <option value="">No Menu</option>
            </select>
        </div>

        <div class="form-group">
            <button
                type="submit"
                class="btn btn-default"
                ng-disabled="updateMenuLocationsForm.$invalid">Update Menu Locations
            </button>

            <a ui-sref="menus" class="btn btn-default">Back to All Menus</a>
        </div>
    </form>

</div>