<div class="page-gutter-right ng-cloak">
    <h1>Menu Locations</h1>

    <form name="updateMenuLocationsForm"
          ng-submit="menus.updateMenuLocations()"
          novalidate>

        <div class="site-primary-menu">
            <label for="primary">Primary Menu</label>
            <select ng-model="menus.menuLocations.primary"
                    id="primary"
                    ng-options="menu.title as menu.title for menu in menus.menus">
                    <option value="">No Menu</option>
            </select>
        </div>

        <div class="site-secondary-menu">
            <label for="secondary">Secondary Menu</label>
            <select ng-model="menus.menuLocations.secondary"
                    id="secondary"
                    ng-options="menu.title as menu.title for menu in menus.menus">
                    <option value="">No Menu</option>
            </select>
        </div>

        <button type="submit" class="under-content">
            <i class="material-icons content-icon">done</i>

            <span>Update</span>
        </button>
    </form>

</div>