<div>
    <h1 class="actions-list-header valign-wrapper">Menus</h1>

    <div class="collection with-header">
        <div class="collection-header">
            <div class="row">
                <div class="col s12 m12 l2">
                    <h5>Menu Title</h5>
                </div>

                <div class="col s12 m12 l2">
                    <h5>Author</h5>
                </div>

                <div class="col s12 m12 l2">
                    <h5>Publish Date</h5>
                </div>

                <div class="col s12 m12 l2">
                    <h5>Last Modified</h5>
                </div>
            </div>
        </div>

        <div ng-if="!menus.menus.length"
             class="collection-item">

            <p>No Menus.
                <a ui-sref="np.newMenu">Create new menu</a>?</p>
        </div>

        <div ng-repeat="menu in menus.menus" class="collection-item">
            <span class="badge">
                <i ng-click="menus.setSelectedMenu(menu)"
                   class="material-icons delete tooltipped modal-trigger"
                   data-position="top"
                   data-delay="50"
                   data-tooltip="Remove menu"
                   data-target="modal-delete"
                   popup-trigger>delete
                </i>

                <a ng-href="/np-admin/menus/{{ menu._id }}"
                   class="tooltipped"
                   data-position="top"
                   data-delay="50"
                   data-tooltip="Edit menu">
                    <i class="material-icons edit">edit</i>
                </a>
            </span>

            <div class="row">
                <div class="col s12 m12 l2">
                    <p class="page-title">
                        <a ng-href="/np-admin/menus/{{ menu._id }}">
                            {{ menu.title }}
                        </a>
                    </p>
                </div>

                <div class="col s12 m12 l2">
                    <p class="page-title">{{ menu.createdBy }}</p>
                </div>

                <div class="col s12 m12 l2">
                    <p class="page-title">{{ menu.publishDate }}</p>
                </div>

                <div class="col s12 m12 l2">
                    <p class="page-title">{{ menu.modifiedDate }}</p>
                </div>
            </div>
        </div>
    </div>

    <a ui-sref="np.newMenu"
       class="add-new under-list">

        <i class="material-icons">add</i>

        <span>New menu</span>
    </a>

    <div class="modal fade" id="modal-delete">
        <div class="modal-content">
            <h5 class="modal-title">Are you sure you want to remove the menu?

                <span class="dashboard-actions">
                    <a class="btn-floating btn-small waves-effect waves-dark pink modal-close">
                        <i class="material-icons">close</i>
                    </a>
                </span>
            </h5>

            <a ng-click="menus.removeMenu()"
               class="waves-effect waves-light btn blue modal-close">Remove Menu
            </a>

            <a class="waves-effect waves-light btn blue modal-close">Cancel
            </a>
        </div>
    </div>
</div>