<!DOCTYPE html>
<html lang="en" ng-app="admin">
<head ng-controller="AdminSettingsHeaderController as settings">

    <script type="text/javascript">
        var np = {{ np | json | safe }};
    </script>

    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>NodePress</title>

    <base href="/np-admin/">

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

    <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">

    <link ng-if="settings.angularInitialized === false"
          rel="stylesheet"
          href="/public/skins/{{ np.settings.skin }}/app.min.css" />

    <link ng-if="settings.angularInitialized === true"
          rel="stylesheet"
          ng-href="/public/skins/{% raw %}{{ settings.settings.skin }}{% endraw %}/app.min.css" />

    <script src="/public/vendors/ckeditor/ckeditor.js"></script>
</head>
<body ng-controller="AdminUserAuthenticationController as user" class="ng-cloak">

{% block primaryMenu %}{% endblock %}

{% block secondaryMenu %}{% endblock %}

{% block content %}{% endblock %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
<script src="/public/js/bundle.js"></script>

{% for plugin in np.settings.plugins %}
<script src="/public/{{ plugin }}/admin/index.js"></script>
{% endfor %}

</body>
</html>