
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

.ng-hide.ng-hide-animate{
    display: none !important;
}

.ng-invalid-add-active {
    //opacity: 0;
}

body {
    background: #2b2b2b;
}

table {
    margin-top: 40px;
}

input, select, textarea {
    .transition();
}

input[type=text] {
    color: #fff;
}

input[type=text][readonly="readonly"] {
    color: #666;
    border-bottom: 1px dotted #666;
}

ul, ol {
    margin: 0;
    padding: 0;
}

a {
    .transition();
    cursor: pointer;
    color: #ffc66d;
}

h1 {
    margin: 50px 0;
    font-size: 40px;
    color: #fff;

    a {
        color: #9C27B0;
    }
}

h5 {
    color: #fff;
}

p {
    color: #fff;
}

label {
    color: #ffc66d;
}

.no-border-bottom {
    border-bottom: none !important;
}

.row {
    .col {
        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }
}

.page-gutter-right {
    max-width: 800px;
}

.error {
    position: relative;
    top: -5px;
    margin: 0 0 20px 0;
    font-size: 12px;
    color: red;
}

.dashboard-actions {
    margin-top: -5px;
    float: right;

    .btn-floating i {
        margin-left: -1px;
    }
}

.dashboard-extra-link {
    font-size: 14px;
    color: #fff;
    line-height: 18px;
}

.primary-menu {
    position: fixed;
    top: 0;
    z-index: 1;

    .nav-wrapper {
        background: #3c3f41;
    }
}

.secondary-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 75px 0 0;
    width: 232px;
    height: 100%;
    background: #3c3f41;
    z-index: 0;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);

    .collapsible {
        margin: 0;
        border: none;
        box-shadow: none;

        .collapsible-header {
            color: #fff;
            font-weight: 300;
            background: transparent;
            border-bottom: 1px solid #393939;
        }

        .collapsible-body {
            background: #2B2B2B;
            border-bottom: 1px solid #393939;

            a {
                display: block;
                padding: 10px 20px;
                color: #fff;
            }
        }
    }
}

.content {
    margin-top: 125px;
    padding: 0 58px 0 290px;
}

.sidebar-items-container,
.sidebar-items-container-added {
    border: none;

    .add-item,
    .remove-item {
        margin: 10px 25px 0 0;
        color: #393939;
        float: right;
        cursor: pointer;
        .transition();
    }

    .add-item {
        &:hover {
            color: #fff;
        }
    }

    .remove-item {
        &:hover {
            color: #9C27B0;
        }
    }

    .collapsible-header {
        color: #fff;
        background: #3C3F41;
        border-bottom: 1px solid #393939;
    }

    .collapsible-body {
        border-bottom: 1px solid #393939;
    }
}

.sidebar-items-container {
    li {
        &:hover {
            .add-item {
                color: #fff;
            }
        }
    }
}

.sidebar-items-container-added {
    .collapsible-header {
        cursor: pointer;

        i {
            &.sort-handle {
                cursor: move;
            }
        }
    }

    .collapsible-body {
        padding: 20px;
        cursor: auto;
    }
}

.page-title {
    margin: 0;
    color: #fff;

    a.dashboard-pages-frontend-link {
        float: right;
    }
}

.change-password {
    margin-bottom: 30px;

    a {
        font-weight: bold;
    }
}

.vertical-navbar {
    margin: 20px 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-left: none;
    border-radius: 0 4px 4px 0;

    ul {
        li {
            list-style: none;

            a {
                display: block;
                padding: 20px;
                color: #666;

                &:hover {
                    text-decoration: none;
                    background: rgba(0, 0, 0, 0.1);
                }
            }
        }
    }
}

.html-editor {
    font-family: "Courier New", Courier, sans-serif;
    padding: 10px;
    min-height: 400px;
    max-width: 100%;
}

.admin-view-page {
    font-size: 14px;

    &:hover {
        color: #757575;
    }
}

.show-more-less {
    display: block;
    margin: 10px 0 15px 0;

    &:hover {
        text-decoration: none;
    }
}

.actions-list-header {
    a {
        margin-left: 10px;
        font-size: 30px;

        &:first-child {
            margin-left: 15px;
        }
    }
}

.menu-items {
    .menu-item-add-icon,
    .menu-item-delete-icon {
        .transition();

        color: #393939 !important;
    }

    .collection-item.menu-item-add {
        cursor: pointer;
    }

    .collection-item:hover .menu-item-add-icon,
    .collection-item:hover .menu-item-delete-icon {
        color: #9C27B0 !important;
    }
}

.menu-item-title {
    margin-left: 20px;
    color: #ffc66d;

    &.flat-left {
        margin-left: 0;
    }
}

.theme-activate {
    color: #fff;
    cursor: pointer;

    &:hover {
        color: #9C27B0;
    }
}

.theme-active {
    font-weight: 600;
    color: #9C27B0;
}

nav .brand-logo {
    left: 20px;
    color: #ffc66d;
}

.dashboard {
    .row {
        margin-bottom: 30px;
    }

    .collection {
        margin: 0 0 10px 0;
    }
}

.theme-active {
    .btn-floating {
        margin-right: 10px;
        width: 20px;
        height: 20px;
        line-height: 20px;

        i {
            font-size: 1.2rem;
            line-height: 20px;
        }
    }
}

.admin-footer {
    [type="checkbox"]+label {
        color: #757575;
    }
}

.material-icons {
    color: #fff;
}

.tabs {
    margin-bottom: 50px;
    background: #2B2B2B;
    border-bottom: 1px solid #eee;

    .tab {
        a {
            color: #fff;

            &:hover {
                color: #9C27B0;
            }
        }
    }

    .indicator {
        background-color: #9C27B0;
    }
}

.select-wrapper {
    input.select-dropdown {
        color: #fff;
    }

    span.caret {
        color: #fff;
    }
}

.modal {
    width: 40%;
}

.modal-content {
    h5 {
        margin-bottom: 30px;
    }
}

.modal-title {
    color: #2B2B2B;
}

.collection {
    margin: 20px 0 10px 0;
    border: none;

    &.buttons-below {
        margin-bottom: 25px;
    }

    &.with-header {
        .collection-header {
            background: #3C3F41;
            border-bottom: transparent;

            h5 {
                color: #fff;
            }
        }

        .collection-item {
            padding-left: 18px;
            color: #fff;
            background: #313335;
            border-bottom: 1px solid #393939;
            border-right: 1px solid #393939;
            border-left: 1px solid #393939;

            a {
                color: #ffc66d;

                &:hover {
                    color: #fff;
                }
            }

            &:nth-child(even) {
                background: #2b2b2b;
            }

            &:nth-child(odd) {
                background: #303030;
            }
        }
    }
}

.card {
    .pink {
        background-color: #9C27B0 !important;
    }

    .card-image {
        img {
            border-radius: 0;
        }

        .card-title {
            background: rgba(0,0,0,0.3);
        }
    }

    .card-action {
        background: #3C3F41;
    }
}

.toast {
    &.success {
        background-color: #9C27B0;

        a {
            color: #fff;
        }
    }
}

.badge {
    cursor: pointer;

    .edit {
        color: #393939;
        .transition();

        &:hover {
            color: #2196F3;
        }
    }

    .delete {
        color: #393939;
        .transition();

        &:hover {
            color: #9C27B0;
        }
    }
}

.row {
    margin-bottom: 0;
}

.btn {
    margin-bottom: 10px;
}

.grey {
    color: #757575;
}

.blue {
    background-color: #9C27B0 !important;
}

.pink {
    background-color: #ffc66d !important;
}

.dropdown-content {
    background: #3C3F41;

    li {
        &:hover {
            background: #2b2b2b;
        }

        &.selected,
        &.active.selected {
            background: #2b2b2b;
        }

        &.active {
            background-color: #3C3F41;
        }
    }
}

.dropdown-content li > a,
.dropdown-content li > span {
    color: #fff;
}

.backdrop {
    background-color: #9C27B0;
}

.info {
    line-height: 34px;
    float: right;

    i {
        color: #9C27B0;
    }
}

.admin-sidebar-items-title {
    margin-bottom: 25px;
    color: #ffc66d;
}

textarea.materialize-textarea {
    color: #fff;
}

.input-field label {
    left: 0;
}

.select-dropdown li.disabled,
.select-dropdown li.disabled > span,
.select-dropdown li.optgroup {
    color: rgba(255, 255, 255, 0.5);
}

[type="checkbox"]+label {
    height: 23px;
    color: #ffc66d;
}

[type="checkbox"]:checked+label:before {
    border-right: 2px solid #9C27B0;
    border-bottom: 2px solid #9C27B0;
}

input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #9C27B0;
    box-shadow: 0 1px 0 0 #9C27B0;
}

input[type=text]:focus:not([readonly])+label {
    color: #ffc66d;
}

/************************************************
 ***** CKEditor
 ***********************************************/

#cke_body {
    margin-top: 15px;
}

.cke_top {
    background: #3C3F41 !important;
    border-bottom: none !important;
}

.cke_toolgroup {
    background: #2b2b2b !important;
    border: none !important;
}

.cke_combo_button {
    background: #2b2b2b !important;
    border: none !important;
}

.cke_button_label {
    color: #fff !important;
    text-shadow: none !important;
}

.cke_combo_text {
    color: #fff !important;
    text-shadow: none !important;
}

.cke_contents {
    min-height: 350px;
}

.cke_source {
    padding: 15px 10px !important;
    color: #fff !important;
    background-color: #2b2b2b !important;
}

.cke_bottom {
    background: #3C3F41 !important;
    border-top: none !important;
}

.cke_path_item,
.cke_path_empty {
    color: #fff !important;
    text-shadow: none !important;
}

.cke_wysiwyg_frame,
.cke_wysiwyg_div {
    background-color: #2B2B2B !important;
}

.cke_button_on {
    background: #9C27B0 !important;
}

a.cke_button_off:hover,
a.cke_button_off:focus,
a.cke_button_off:active {
    background: #3C3F41 !important;
}

/************************************************
 ***** jQuery Sortable
 ***********************************************/

.sortable {
    div {
        cursor: move;
    }
}

/************************************************
 ***** Mixins
 ***********************************************/

.transition(@style: all, @duration: 0.15s, @effect: ease-in-out) {
    -webkit-transition: @style @duration @effect;
    -moz-transition: @style @duration @effect;
    -ms-transition: @style @duration @effect;
    -o-transition: @style @duration @effect;
    transition: @style @duration @effect;
}

.default-clear() {
    display: block;
    height: 0;
    content: " ";
    font-size: 0;
    clear: both;
    visibility: hidden;
}

/************************************************
 ***** AngularJS View Transition Effects
 ***********************************************/

.view-fade-in {
    &.ng-enter {
        position: relative;
        opacity: 0;
        .transition();

        &.ng-enter-active {
            top: 0; left: 0; opacity: 1;
        }
    }

    &.ng-leave {
        top: 0;
        left: 0;
        opacity: 0;

        &.ng-leave-active {
            top: 0;
            left: 0;
            opacity: 1;
        }
    }
}
