<div class="admin-footer ng-cloak">

    <h1>Footer</h1>

    <form name="footerForm" novalidate>

        <div class="row">
            <div class="col s12 m12 l3">
                <input type="checkbox"
                       id="footer-section-1"
                       ng-value="footer.section-1" />
                <label for="footer-section-1">
                    Footer section 1
                </label>
            </div>

            <div class="col s12 m12 l3">
                <input type="checkbox"
                       id="footer-section-2"
                       ng-value="footer.section-2" />
                <label for="footer-section-2">
                    Footer section 2
                </label>
            </div>

            <div class="col s12 m12 l3">
                <input type="checkbox"
                       id="footer-section-3"
                       ng-value="footer.section-3" />
                <label for="footer-section-3">
                    Footer section 3
                </label>
            </div>

            <div class="col s12 m12 l3">
                <input type="checkbox"
                       id="footer-section-4"
                       ng-value="footer.section-4" />
                <label for="footer-section-4">
                    Footer section 4
                </label>
            </div>
        </div>

    </form>

</div>
