<!DOCTYPE html>
<html lang="en"  ng-app="site" ng-controller="SiteController as settings">
<head>
    <script type="text/javascript">
        var coreSettingsSource = {{ coreSettingsSource | json | safe }};
        var primaryMenuSource = {{ primaryMenuSource | json | safe }};
        var secondaryMenuSource = {{ secondaryMenuSource | json | safe }};
        var menusSource = {{ menusSource | json | safe }};
        var pagesSource = {{ pagesSource | json | safe }};
        var plugins = "{{ plugins }}".split(",");
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title ng-bind="settings.page.title"></title>

    <base href="/">

    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ coreSettingsSource[0].theme }}/client/css/styles.css">

    <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
</head>
<body>

{% block content %}{% endblock %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
<script src="/js/bundle.js"></script>

{% for plugin in plugins %}
<script src="/{{ plugin }}/site/index.js"></script>
{% endfor %}

</body>
</html>
